<!doctype html>
<html ng-app="busroute">

<head>
  <meta charset="utf-8">
  <title>busroute</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <link rel="stylesheet" href="app/vendor.css">
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 -->
  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>

<body ng-controller='MainCtrl as main'>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Dirty Bus Stuff</h1>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-list-item ng-repeat="option in main.options" ng-click='main.navigateTo(option)'>
          <p>{{ option.description }}</p>
          <md-icon>keyboard_arrow_right</md-icon>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button ng-if='!main.showBack' class="md-icon-button" aria-label="Menu" ng-click='main.toggleLeft()'>
          <md-icon md-svg-icon="assets/images/menu_white.svg"></md-icon>
        </md-button>
        <md-button ng-if='main.showBack' class="md-icon-button" aria-label="Menu" ng-click='main.back()'>
          <md-icon md-svg-icon="assets/images/back.svg"></md-icon>
        </md-button>
        <h2>
          <span ng-bind='main.currentView'></span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
  </md-content>
  <div ui-view></div>
  <div class='background-loading' ng-if='main.loading.loading'>
      <md-progress-circular md-mode="indeterminate" ></md-progress-circular>
  </div>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

  <!-- script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script -->
  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->
  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
</body>

</html>
